@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;600;800&family=Roboto:wght@500;700&display=swap");

#root {
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
}

input {
  outline: none;
}
