.hyundai-path-header {
  font-size: 7rem;
  margin: 0px;
  margin-left: -5px;
}

@media only screen and (max-width: 1240px) {
  .hyundai-path-header {
    font-size: 5.2rem;
    margin: 0px;
    margin-left: -5px;
  }
}
@media only screen and (max-width: 990px) {
  .hyundai-path-header {
    font-size: 4.2rem;
    margin: 0px;
    margin-left: -5px;
  }
}
